{% extends "base.html" %}
{% block content %}

    <section class="about-section" id="about">
    <div class="row">
        <div class="column">
            <h1 class="title">Our Story</h1>
            <p>Welcome to 'The Italian Cuisine,' where passion meets tradition. Our journey began with a love for authentic Italian
            flavors and a commitment to providing an exceptional dining experience. From the heart of Italy to your table, we bring
            you the finest ingredients and time-honored recipes that capture the essence of Italian gastronomy.</p>
        </div>
        <div class="column">
            <img src="https://images.pexels.com/photos/1049620/pexels-photo-1049620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image">
        </div>
    </div>
    <div class="culinary">
            <h1 class="title">Culinary Excellence</h1>
            <p>At 'The Italian Cuisine,' we take pride in our commitment to culinary excellence. Our chefs, trained in the art of
            Italian cooking, craft each dish with precision and care. From handmade pasta to savory sauces, every bite reflects our
            dedication to delivering the true taste of Italy to our guests.</p>
        </div>
        <div class="image-row">
            <div class="column">
                <img src="https://images.pexels.com/photos/5907591/pexels-photo-5907591.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image 1">
            </div>
            <div class="column">
                <img src="https://images.pexels.com/photos/1437267/pexels-photo-1437267.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image 2">
            </div>
            <div class="column">
                <img src="https://images.pexels.com/photos/1527603/pexels-photo-1527603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image 3">
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h1 class="title">A Cozy Atmosphere</h1>
                <p>Immerse yourself in the warmth of Italian hospitality at 'The Italian Cuisine.' Our inviting ambiance, inspired by the
                rustic charm of Italian trattorias, provides the perfect setting for intimate gatherings, celebrations, and memorable
                dining experiences. Join us, and let the flavors and ambiance transport you to the heart of Italy.</p>
            </div>
            <div class="column">
                <h1 class="title">Fresh and Local Ingredients</h1>
                <p>We believe in the importance of quality ingredients. That's why we source fresh, local produce to create our dishes.
                From vine-ripened tomatoes to locally sourced herbs, each ingredient is thoughtfully chosen to ensure a delightful and
                authentic Italian dining experience for our guests.</p>
            </div>
        </div>
        <div class="row">
            <div class="column faq">
                <h1 class="title">Frequently Asked Questions</h1>
                <ul>
                    <li>
                        <strong>Question: What makes your pasta special?</strong><br>
                        Our pasta is made fresh daily using traditional Italian methods, ensuring a delightful texture and taste
                        that sets it apart.
                    </li>
                    <li>
                        <strong>Question: Do you accommodate dietary restrictions?</strong><br>
                        Yes, we offer a variety of options for guests with dietary restrictions. Please inform your server, and
                        we'll be happy to assist you.
                    </li>
                    <li>
                        <strong>Question: Is a reservation required?</strong><br>
                        While reservations are not mandatory, we recommend them, especially during peak hours, to ensure a
                        seamless dining experience for our guests.
                    </li>
                </ul>
            </div>
        </div>

    </section>

{% endblock %}